extends layout
block content

    div(class="container")
        div(class="card mt-5")
            div(class="card-header")
                h2(class="text-center") Error
            div(class="card-body")
                p(class="card-text") Error Please Try Again
                a(class="btn btn-primary" href="/?page=1") Back to Messages