extends ../layout

block content
    div(class="container")
        div(class="row justify-content-center")
            div(class="col-md-6 mt-5 mb-5")
                form(method="post" action="/new")
                    input(type='hidden' name='_csrf' value=`${csrfToken}`)
                    input(class="form-control mb-2" name='title' type='text' class="" placeholder="Message Title")
                    div
                    textarea(class="form-control mb-2" name='message' class="" placeholder="Message Text")
                    div
                        button(class="" type='submit' class="black-outline" value='submit') Submit
            h2(class="mb-2") Messages
                each message in messages
                    div(class="card mt-2 mb-3")
                        div(class="card-header")
                            a(href=`${message.id}`) #{message.title}
